.logo-image{
    width: 100px;
    height: 75px;
    border-radius: 75%;
    overflow: hidden;
    margin-top: -6px;
}

body {
    background: radial-gradient(beige, rgb(65, 62, 62));
    background-attachment: fixed;
}



#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
  
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: aqua;
}

.orange {
    color: #FAC55C;
    font-size: 1.5rem;
    font-weight: 100;
}

.blue {
    color: aqua;
    font-size: 1.5rem;
    font-weight: 100;
}

.container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}


   
p {
    font-size: 2.5vh;
    font-weight: 400;
}

footer {
    color: white;
    
    }

#mail {
    margin-bottom: 0.2em;
}   

#kontakt:hover {
color: aqua;
}

#adresa:hover {
    color: aqua;
    }

#mail:hover {
        color: aqua;
        }